{% extends 'base.html' %}
{% load static %}
{% block title %}Mon profil{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<section id="kotyk">
    {% if messages %}
        {% for message in messages %}
            <div class="row justify-content-center">
                <div class="position-absolute text-center alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <div class="container">
        <div class="row justify-content-center">
            <h2 class="bg-secondary p-2 rounded text-light mb-5">Mon profil</h2>
        </div>
        <div class="content-section">
            <div class="media">
                <img src="{{ user.profile.image.url }}" class="rounded-circle account-img">
                <div class="media-body">
                    <h2 class="account-heading">{{ user.username }}</h2>
                    <p class="text-secondary">{{ user.email }}</p>
                    <p class="text-secondary">{{ user.first_name }}</p>
                    <p class="text-secondary">{{ user.last_name }}</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <form method="post" enctype="multipart/form-data" class="bg-light p-3 rounded">
                {% csrf_token %}
                {{ u_form|crispy }}
                {{ p_form|crispy }}
                <button type="submit" class="btn btn-primary">Valider</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
